.databar {
	box-sizing: border-box;
	
	display: inline-block;
	width: 10px;
	
	border: 10px solid white;
	border-top: none;
	border-bottom: none;
	background-color: black;
	
	position: absolute;
	bottom: 0;
}

.databar-error {	
	background-color: red;
}